body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.title {
  background-color: #217059;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title img {
  height: 70px; /* Adjust the height as needed */
  margin-left: 10px;
}

h1 {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}


.map {
  height: 100vh;
  background-color: aliceblue;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.content-container {
  width: 20%; /* Adjust the ratio as needed */
  padding: 20px;
}

.map-container {
  width: 80%; /* Adjust the ratio as needed */
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555555;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.legend i {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
  vertical-align: middle;
}


.interactive-map > label,
.filters > label,
.size-of-parcel > label,
.slope-threshold > label,
.value-of-parcel > label, 
.list > label {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: gray;
  margin-bottom: 20px;
}

/* Base styles for .checkbox-container */
.checkbox-container {
  background-color: #f5f5f5;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

/* Font styles for various elements within .checkbox-container */
.checkbox-container *,
.checkbox-container input[type="text"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

/* Specific styles for checkbox and text input */
.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-container input[type="text"] {
  font-size: 10px;
  width: 60px; /* Adjust the width of text inputs */
}

/* Base styles for .results-container */
.results-container {
  background-color: #f5f5f5;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto; /* Add a vertical scrollbar if the content exceeds the max-height */
}

#resultsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#resultsList div {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

#resultsList div:last-child {
  border-bottom: none;
}

#resultsList div:hover {
  background-color: #e0e0e0;
}


/* 
javascript mobile style: 11/8 lecture
*/

@media screen and (width <= 425px) {
  main {
    flex-direction: column-reverse;
  }

  .map {
    height: 50vh;
  }


}